*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 660px;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("_FLO background.png") no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #b2beb5 solid;
    background-color: white;
    z-index: 100;
}
header .logo{
    position: relative;
    width: 100px;
}
header a{
    color: black;
    background: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
}
header a:not(:last-child){
    margin-right: 30px;
}
header a:hover{
    background: black;
    color: white;
}
header a:active{
    border-bottom: 1px blue solid;
    background: black;
    color: white;
}

.info{
    position:static;    
    max-width: 650px;
    margin: 100px 150px;
}
.content{
    position: static;
    margin-bottom: 100px;
}
.content .info h2{
    color: #226A80;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-top: 130px;
}
#continue{
    margin-top: 190px;
    color: white;
    background: #226A80;
    
}
/* Button */
.login {
    padding: 6px 16px;
    font-size: 16px;
    transition: all 150ms ease-in-out;
  
    border-radius: 14px;
    font-weight: 800;
  
    color: black;
    background-color: transparent;
    background-image: radial-gradient(50% 115% at 50% -5%, rgba(255, 255, 255, 0.11) 0%, transparent 100%);
    box-shadow: inset 0 0px 10px 0px rgba(255, 255, 255, 0.14), inset 0px 5px 10px 0px rgba(255, 255, 255, 0.11), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4), inset 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
  }
.login:hover {
    background-color: rgba(0, 113, 197, 1);
} 
.login:active {
    transform: scale(.95);
}
.continue {
  --glow-color: rgba(115, 194, 251, 0.3);
  --glow-spread-color: rgba(135, 206, 250, 0.781);
  --enhanced-glow-color: rgb(135, 206, 250);
  --btn-color: rgba(0, 113, 197, 0);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: #494F55;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),  
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);  
  position: relative;
  transition: all 0.3s;
  margin-top: 180px;
  }

.continue::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.continue:hover {
  color: black;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.continue:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}


.sec{
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.whatis{
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px 200px;
}

.whatis h3{
    height: 150px;
}
.circle1{
    position: absolute;
    top: 550px;
    right: 150px;
    height: 100px;
    width: 100px;
    opacity: 0.57;
    background: radial-gradient(circle at 75% 30%,white 5px,#007FFF 8%, darkblue 60%, aqua 100%);
    border-radius: 50%;
    box-shadow: 20px 30px 16px #1B6CFB, 40px 70px 30px #1b6cfb, inset 6px 10px 10px #1B6CFB, inset 2px 6px 10px #1a74e5, inset -20px -20px 22px white, inset 40px -40px 44px #a8ceff;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(50px);
}
.circle2{
    position: absolute;
    top: 470px;
    right: 290px;
    height: 150px;
    width: 150px;
    opacity: 0.55;
    background: radial-gradient(circle at 75% 30%,white 5px,#007FFF 8%, darkblue 60%,aqua 100%);
    border-radius: 50%;
    box-shadow: -20px 30px 16px #1B6CFB, -40px 60px 32px #1b6cfb, inset -6px 6px 10px #1B6CFB, inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(50px);
}
.circle3{
    position: absolute;
    top: 230px;
    right: 110px;
    height: 200px;
    width: 200px;
    opacity: 0.4;
    background: radial-gradient(circle at 75% 30%,white 5px,#007FFF 8%, darkblue 60%,aqua 100%);
    border-radius: 50%;
    box-shadow: -20px 30px 16px #1B6CFB, -40px 60px 32px #1b6cfb, inset -6px 6px 10px #1B6CFB, inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 2;
}




