body{
  background-image:url("_FLO background.png");
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  
}.content{
  display:grid;
  gap:10px;
  max-width:100%;
  width:100%;
  padding:20px;
  align-items:center;
  justify-content:center;
  transition:all 5s ease-out;

}.FLO_LOGO{
  display:flex;
  justify-content:center;
  align-items:center;
  height:394px;
  width:100%;
  border-right:1px solid black;

}#logo{
  width:100%;
  max-width:282px;
  height:auto;
  margin-left:200px;

}.resetpassword{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:20px;
  width:100%;
  max-width:400px;
  margin-left:20px;

}#resettext{
  font-family:"League Spartan", serif;
  font-size:2rem;
  font-weight:700;
  color:#454545;

}form{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:100%;

}input{
  width:100%;
  max-width:300px;
  height:25px;
  border:none;
  border-bottom:1px solid black;
  background-color:transparent;
  margin-bottom:20px;

}input:focus{
  outline:none;

}#savebutton{
  width:169px;
  max-width:100%;
  height:36px;
  color:#fafcff;
  background-color:#2169ac;
  border:none;
  border-radius:20px;
  font-family:"Work Sans", sans-serif;
  font-size:15px;
  margin-top:15px;
  margin-right:95px;
  align-self:center;
  transition:background-color 0.1s, transform 0.1s;

}#savebutton:hover{
	background-color:#65b1eb;
	border:1px groove #2169ac;
	
}#backtoLOGIN{
  font-family:"Work Sans", sans-serif;
  font-size:13px;
  opacity:0.8;
  text-align:center;
  margin-top:26px;

}a{
  text-decoration:none;
  color:#004aad;

}#circle1, #circle2 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to bottom, #92e9fd, #004097);
  transition: 0.5s ease;
}

#circle1 {
  top: 504.7px;
  left: -179px;
  width: 526.9px;
  height: 518.6px;
  opacity: 0.48;
}

#circle2 {
  top: 460px;
  left: -191.5px;
  width: 455.6px;
  height: 448.4px;
  opacity: 0.8;
  
}html{
  overflow:hidden;

}@media (min-width: 909px){
	body .content{
		grid-template-columns:1fr 1fr;
		gap:20px;
		
	}body .FLO_LOGO, .resetpassword{
		transition:all 0.5s ease-out;
		
	} #backtoLOGIN{
		margin-left:110px;
		
	}#circle1, #circle2{
		transition:ease-out 0.4s;
		
	}a:hover{
		text-decoration: underline;
	}
	
}@media (max-width: 908px){
	
	#circle1, #circle2  {
		top: 48%;
		left: -30px;
		width: 1005px;
		height: 1005px;
		opacity: 1;
		border-radius:0%;
		background:linear-gradient(to left, #92e9fd, #004097);
		transition:all 0.5s ease;
	
	}body .FLO_LOGO{	
		border-right:none;
		height:294px;
		width:100%;
		transition:all 0.5s ease;
		
	}#logo{
		margin-left:5px;	
	
	}body .resetpassword{
		display:flex;
		justify-content:center;
		align-items:center;
		margin-right:80px;
		transition:all 0.5s ease;
	
	}#resettext{
		color:white;
	    z-index:1;
		margin-right:30px;
		
	}#email{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#email::placeholder{
		color:white;
		
	}#newpassword{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#newpassword::placeholder{
		color:white;
		
	}#newpassword1{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#newpassword1::placeholder{
		color:white;
		
	}#savebutton{
		margin-right:40px;
		background-color:white;
		color:#2169ac;
	    z-index:1;
		
	}#savebutton:hover{
		background-color:#65b1eb;
		border:1px groove #2169ac;
		color:white;
	
	}#backtoLOGIN{
		margin-right:40px;
		color:white;
	    z-index:1;
		
	}a{
	   color:white;
		
	}a:hover{
		text-decoration:underline;
	}
	
}@media (max-width: 548px){
	
	#circle1, #circle2  {
		top: 46%;
		left: -155px;
		width: 800px;
		height: 750px;
		opacity: 0.8;
		background:linear-gradient(to left, #92e9fd, #004097);
		border-radius:50%;
		transition:all 0.5s ease;

	}body .FLO_LOGO{	
		border-right:none;
		height:294px;
		width:100%;
		
	}#logo{
		margin-left:5px;	
	
	}body .resetpassword{
		display:flex;
		justify-content:center;
		align-items:center;
		margin-right:150px;
	
	}#resettext{
		color:white;
	    z-index:1;
		margin-right:30px;
		font-size:26px;
		
	}#email{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#email::placeholder{
		color:white;
		
	}#newpassword{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#newpassword::placeholder{
		color:white;
		
	}#newpassword1{
		margin-left:30px;
		color:white;
	    z-index:1;
		border:none;
        border-bottom:1px solid white;
		
	}#newpassword1::placeholder{
		color:white;
		
	}#savebutton{
		margin-right:40px;
		background-color:white;
		color:#2169ac;
	    z-index:1;
		
	}#savebutton:hover{
		background-color:#65b1eb;
		border:1px groove #2169ac;
		color:white;
	
	}#backtoLOGIN{
		margin-right:40px;
		color:white;
	    z-index:2;
		
	}a{
	   color:white;
		
	}a:hover{
		text-decoration:underline;
	}
	
}